<div class="list">
    <app-file-list>
    </app-file-list>
</div>

<div class="card-container">
    <div class="card">
        <!-- <p class="card-container ">file-upload-form</p> -->
        <div class="d-flex flex-row justify-content-center mb-3">

            <div class="form-froup">
                <div class="col-md-10">
                    <input type="text" class="form-control" [(ngModel)]="Flname" placeholder="Enter File Name">
                </div>
                <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                    <input type="file" (change)="uploadFile($event)" class="upload-input" />
                </div>
                <button (click)="addNewFile()" type="submit" class="btn">Upload</button>

            </div>

        </div>
        <!-- <img [src]=Flpath height="50px;" width="40px;"> -->

        <!-- *ngIf="doc.Id==0" -->

    </div>

</div>
